.search-button{
    border: none;
    background-color: #5964E0;
    padding: 13px 35px;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    &:hover{
        background-color: #939BF4;
        cursor: pointer;
    }
}


@media (max-width: 480px) {
    .search-button {
      display: none;
    }
}