.dark{
    background-color: #19202D;
}
.light{
    background-color: white !important;
}

.dark-text-color{
    color: rgba($color: #ddd, $alpha: 0.5) !important;
}

.light-text-color{
    color: rgba($color: #19202D, $alpha: 0.2);
}

.dark-color{
    color: white;
}

.light-color{
    color: #19202D;
}
