@import "../../styles/placeholder.scss";

.main{
    @extend %container;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 40px 30px;
}

@media (max-width : 768px) {
    .main{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media (max-width : 480px) {
    .main{
        grid-template-columns: 1fr;
    }
}

