@import "../../styles/placeholder.scss";

.header {
  background-image: url("../../../public/assets/desktop/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
  @extend %flex-sb-c;
  height: 200px;
  flex-direction: column;

  &__top {
    @extend %container;
    @extend %flex-sb-c;
  }
}

.display-none{
  display: none;
}

@media (max-width : 768px) {
  .header{
    background-image: url("../../../public/assets/tablet/bg-pattern-header.svg");
    height: 160px;
  }
}

@media (max-width : 480px) {
  .header{
    background-image: url("../../../public/assets/mobile/bg-pattern-header.svg");
    height: 136px;
    border-bottom-left-radius: 0;
  }
}
