.filter-by-loc{
    display: flex;
    align-items: center;
    width: 30%;
    padding-left: 32px;
    height: 100%;
    line-height: 71px;
    border-left: 1px solid rgba($color: #6E8098, $alpha: 0.2);
    border-right: 1px solid rgba($color: #6E8098, $alpha: 0.2);
}

@media (max-width: 768px) {
  .filter-by-loc {
    width: 30%;
  }
}

@media (max-width: 480px) {
    .filter-by-loc {
      display: none;
    }
  }