.search{
    width: 1110px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
    border-radius: 6px;
    
}

.dark{
    background-color: #19202D;
}
.light{
    background-color: white;
}