.search{
    width: 1110px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
    border-radius: 6px;
    
}

@media (max-width : 768px) {
    .search{
      width: 689px;
      
    }
  }
  
  @media (max-width : 480px) {
    .search{
      width: 327px;
    }
  }